<html>
	<head>
		<meta charset="UTF-8">
		<style>
		body {
			font-family:calibri;
			font-size:12px;
			margin: 0px;
		}
		th,td {
			border: 2px solid black;
		}
		th {
			padding: 4px;
			text-align: center;
		}
		table {
			margin:0 auto;
			border: 2px solid black;
			border-collapse: collapse;
		}
		</style>
	</head>
	<body align="center">
		<h1>V1 status</h1>
		<p>$date.format('HH:mm, EEEEEE, d MMMM yyyy', $curDate)</p>
		<div>
			
			#foreach ($reps in $reports)
			
			<h4>$reps[0].taskOwner</h4>
			<table cellpadding="0" cellspacing="0" width="90%">
				<thead>
					<tr>
						<th width="6%">BLI ID</th>
						<th width="48%">BLI NAME</th>
						<th width="12%">BLI OWNER</th>
						<th width="14%">TASK NAME</th>
						<th width="20%">DESCRIPTION</th>
					</tr>
				</thead>
				<tbody>
				
					#foreach ($rep in $reps)
				
					<tr>
						<td>$rep.bliID</td>
						<td>$rep.bliName</td>
						<td>$rep.bliOwner</td>
						<td>$rep.taskName</td>
						<td>$rep.reportName</td>
					</tr>
					
					#end
					
				</tbody>
			</table>
			
			#end
			
		</div>
	</body>	
</html>