<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="text/javascript">
        function printResult(data, textStatus, jqXHR) {
             $( "#resultData" ).html('');
             $( "#resultData" ).html( data );
             $( "#resultMessage" ).html('');
             $( "#resultMessage" ).html( textStatus );
             $( "#resultCode" ).html('');
             $( "#resultCode" ).html( jqXHR.status );
             $( "#resultHeaders" ).html('');
            var resultHeaders = document.getElementById('resultHeaders');
            var headers = jqXHR.getAllResponseHeaders().split("\n");
            for (var i = 0; i < headers.length; i++) {
                var x = document.createElement("P");
                var t = document.createTextNode(headers[i]);
                x.appendChild(t);
                resultHeaders.appendChild(x);
            }
        }

        function xsrf(jqXHR) {
            $( "#xsrf" ).html('');
             $( "#xsrf" ).html( jqXHR.getResponseHeader('X-CSRF-TOKEN') );
            $( "#csrf-token" ).val( jqXHR.getResponseHeader('X-CSRF-TOKEN') );
        }

        function getxsrf() {
            $.ajax({
                url: '/index',
                complete: function(jqXHR, textStatus){
                    xsrf(jqXHR);
                }
            });
        }

         function signout() {

            var token = $("#xsrf").html();

            $.ajax({
                url: '/logout',
                headers: {
                    'X-CSRF-TOKEN':token
                },
                method: 'POST',
                success: function(data, textStatus, jqXHR){
                    printResult(data, textStatus, jqXHR);
                    // xsrf(jqXHR);
                },
                error: function(jqXHR, textStatus, data) {
                    printResult(data, textStatus, jqXHR);
                    // xsrf(jqXHR);
                }
            });

        }

        function secure(serviceIndex) {
            var service = '/service' + serviceIndex;
            $( "#resultData" ).load(service + "/secure", function( data, textStatus, jqXHR ) {
                 printResult(data, textStatus, jqXHR);
                 // xsrf(jqXHR);
            });
        }
        function insecure(serviceIndex) {
            var service = '/service' + serviceIndex;
            $( "#resultData" ).load(service +"/insecure", function( data, textStatus, jqXHR ) {
                 printResult(data, textStatus, jqXHR);
                 // xsrf(jqXHR);
            });
        }

        function query() {
            $( "#resultData" ).load( "/mediator/query", function( data, textStatus, jqXHR ) {
                printResult(data, textStatus, jqXHR);
                // xsrf(jqXHR);
            });
        }

        function values() {
            var prId = $( "#processId" ).val();
            $( "#resultData" ).load( "/mediator/values?id="+prId, function( data, textStatus, jqXHR ) {
                printResult(data, textStatus, jqXHR);
                // xsrf(jqXHR);
            });
        }

        function startProcess() {
            var token = $("#xsrf").html();

            $.ajax({
                url: '/mediator/start',
                headers: {
                    'X-CSRF-TOKEN':token
                },
                method: 'POST',
                success: function(data, textStatus, jqXHR){
                    printResult(data, textStatus, jqXHR);
                    // xsrf(jqXHR);
                },
                error: function(jqXHR, textStatus, data) {
                    printResult(data, textStatus, jqXHR);
                    // xsrf(jqXHR);
                }
            });
        }

        function post(serviceIndex) {
            var service = '/service' + serviceIndex;
            var token = $("#xsrf").html();

            $.ajax({
                url: service + '/post',
                headers: {
                    'X-CSRF-TOKEN':token
                },
                method: 'POST',
                success: function(data, textStatus, jqXHR){
                    printResult(data, textStatus, jqXHR);
                    // xsrf(jqXHR);
                },
                error: function(jqXHR, textStatus, data) {
                    printResult(data, textStatus, jqXHR);
                    // xsrf(jqXHR);
                }
            });
        }

    </script>
</head>
<body onload="getxsrf()">
<form action="/logout" method="post">
    <p><input type="submit" value="Signout"></p>
    <input id="csrf-token" type="hidden" name="_csrf"/>
</form>
    <p><button onclick="secure(1)">Secure Call Service 1</button></p>
    <p><button onclick="insecure(1)">Insecure Call Service 1</button></p>
    <p><button onclick="post(1)">Insecure Post Call Service 1</button></p>
    <p><button onclick="secure(2)">Secure Call Service 2</button></p>
    <p><button onclick="insecure(2)">Insecure Call Service 2</button></p>
    <p><button onclick="startProcess()">Start Process</button></p>
    <p><button onclick="query()">Query Processes</button></p>
    <p><input id="processId"/><button onclick="values()">Process Values</button></p>
 Status Code
 <p id="resultCode" style="border-style: solid"></p>
 Response Headers
 <p id="resultHeaders" style="border-style: solid"></p>
 Response JS Message
 <p id="resultMessage" style="border-style: solid"></p>
 CSRF Token
 <p id="xsrf" style="border-style: solid"></p>
 Response Data
<p id="resultData" style="border-style: solid"></p>

</body>
</html>