<html>
	<head>
		<meta charset="UTF-8">
		<style>
		body {
			font-family:calibri;
			font-size:12px;
			margin: 0px;
		}
		th,td {
			border: 2px solid black;
		}
		th {
			padding: 4px;
			text-align: center;
		}
		table {
			margin:0 auto;
			border: 2px solid black;
			border-collapse: collapse;
		}
		</style>
	</head>
	<body align="center">
		<h1>V1 status</h1>
		<p>$date.format('HH:mm, EEEEEE, d MMMM yyyy', $curDate)</p>
		<div>
			
			<p>V1 looks good today!</p>
			
			<h3>Hour Reports</h3>
			
			#if(($hReports) && !($hReports.isEmpty()))
			
				<p>Sprint start date - $date.format('EEEEEE, d MMMM yyyy', $hReports[0].sprintStartDate)</p>
				
				<table cellpadding="0" cellspacing="0" width="90%">
					<thead>
						<tr>
							<th width="66%">NAME</th>
							<th width="14%">REPORTED HOURS</th>
							<th width="20%">REQUIRED HOURS</th>
						</tr>
					</thead>
					<tbody>
					
						#foreach ($rep in $hReports)
						
						<tr>
							<td>$rep.teamMember</td>
							<td align="right" style="padding-right:10px;">$rep.reportedHours</td>
							<td align="right" style="padding-right:10px;">$rep.requiredHours</td>
						</tr>
						
						#end
					
					</tbody>
				</table>
			#else
				<p>No reports available. Today is the Sprint start date.</p>
			#end
			
		</div>
	</body>	
</html>