<html>
	<head>
		<meta charset="UTF-8">
		<style>
		body {
			font-family:calibri;
			font-size:12px;
			margin: 0px;
		}
		th,td {
			border: 2px solid black;
		}
		th {
			padding: 4px;
			text-align: center;
		}
		table {
			margin:0 auto;
			border: 2px solid black;
			border-collapse: collapse;
		}
		</style>
	</head>
	<body align="center">
		<h1>V1 status</h1>
		<p>$date.format('HH:mm, EEEEEE, d MMMM yyyy', $curDate)</p>
		<div>
			<h3>Reports by Report Type</h3>
			
			#foreach ($reps in $reports)
			
			<h4>$reps[0].reportName</h4>
			<table cellpadding="0" cellspacing="0" width="90%">
				<thead>
					<tr>
						<th width="6%">BLI ID</th>
						<th width="55%">BLI NAME</th>
						<th width="12%">BLI OWNER</th>
						<th width="15%">TASK NAME</th>
						<th width="12%">TASK OWNER</th>
					</tr>
				</thead>
				<tbody>
				
					#foreach ($rep in $reps)
				
					<tr>
						<td>
							#if($rep.bliLink)
								<a href="$rep.bliLink">$rep.bliID</a>
							#else
								$rep.bliID
							#end
						</td>
						<td>$rep.bliName</td>
						<td>$rep.bliOwner</td>
						<td>
							#if($rep.taskName)
								#if($rep.taskLink)
									<a href="$rep.taskLink">$rep.taskName</a>
								#else
									$rep.taskName
								#end
							#end
						</td>
						<td>
							#if($rep.taskOwner)
								$rep.taskOwner
							#end
						</td>
					</tr>
					
					#end
					
				</tbody>
			</table>
			
			#end
			
			<h3>Reports by Task Owner</h3>
			
			#foreach ($reps in $repsByOwner)
			
			<h4>$reps[0].taskOwner</h4>
			<table cellpadding="0" cellspacing="0" width="90%">
				<thead>
					<tr>
						<th width="6%">BLI ID</th>
						<th width="48%">BLI NAME</th>
						<th width="12%">BLI OWNER</th>
						<th width="14%">TASK NAME</th>
						<th width="20%">DESCRIPTION</th>
					</tr>
				</thead>
				<tbody>
				
					#foreach ($rep in $reps)
				
					<tr>
						<td>
							#if($rep.bliLink)
								<a href="$rep.bliLink">$rep.bliID</a>
							#else
								$rep.bliID
							#end
						</td>
						<td>$rep.bliName</td>
						<td>$rep.bliOwner</td>
						<td>
							#if($rep.taskName)
								#if($rep.taskLink)
									<a href="$rep.taskLink">$rep.taskName</a>
								#else
									$rep.taskName
								#end
							#end
						</td>
						<td>$rep.reportName</td>
					</tr>
					
					#end
					
				</tbody>
			</table>
			
			#end
			
			<h3>Hour Reports</h3>
			
			#if(($hReports) && !($hReports.isEmpty()))
			
				<p>Sprint start date - $date.format('EEEEEE, d MMMM yyyy', $hReports[0].sprintStartDate)</p>
				
				<table cellpadding="0" cellspacing="0" width="90%">
					<thead>
						<tr>
							<th width="66%">NAME</th>
							<th width="14%">REPORTED HOURS</th>
							<th width="20%">REQUIRED HOURS</th>
						</tr>
					</thead>
					<tbody>
					
						#foreach ($rep in $hRepoerts)
						
						<tr>
							<td>$rep.teamMember</td>
							<td align="right" style="padding-right:10px;">$rep.reportedHours</td>
							<td align="right" style="padding-right:10px;">$rep.requiredHours</td>
						</tr>
						
						#end
					
					</tbody>
				</table>
			#else
				<p>No reports available. Today is the Sprint start date.</p>
			#end
			
		</div>
	</body>	
</html>