<html>
	<head>
		<meta charset="UTF-8" />
		<style>
		body {
			font-family:calibri;
			font-size:12px;
			margin: 0px;
		}
		th,td {
			border: 2px solid black;
		}
		th {
			padding: 4px;
			text-align: center;
		}
		table {
			margin:0 auto;
			border: 2px solid black;
			border-collapse: collapse;
		}
		</style>
	</head>
	<body>
		<h1>V1 and ETS reported hours</h1>
		<p>$dateTool.format('HH:mm, EEEEEE, d MMMM yyyy', $curDate)</p>
		
		<div>
			<h4>V1 Report</h4>
			<p style="font-weight:bold">Required hours - $v1ReqHours</p>
			<table cellpadding="0" cellspacing="0" width="200px">
				<thead>
					<tr>
						<th width="65%">Name</th>
						<th width="35%">Reported Hours</th>
					<tr>
				</thead>
				<tbody>
					#foreach ($v1Rep in $v1Reps)
						#if ($v1Rep.reportedHours < $v1ReqHours)
							<tr>
								<td>$v1Rep.name</td>
								<td align='right'>$v1Rep.reportedHours</td>
							</tr>
						#end
					#end
				</tbody>
			</table>
			
			<br />
			
			<h4>ETS Report</h4>
			<p style="font-weight:bold">Required hours - $etsReqHours</p>
			<table cellpadding="0" cellspacing="0" width="200px">
				<thead>
					<tr>
						<th width="65%">Name</th>
						<th width="35%">Reported Hours</th>
					<tr>
				</thead>
				<tbody>
					#foreach ($etsRep in $etsReps)
						#if ($etsRep.hours < $etsReqHours)
							<tr>
								<td>$etsRep.name</td>
								<td align='right'>$etsRep.hours</td>
							</tr>
						#end
					#end
				</tbody>
			</table>
		</div>
	</body>
</html>
